body {
	margin: 0;
	padding: 0;
	background-color: #000000;
}

.container {
	width: 500px;
	margin: 50px auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
	margin-top: 0;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	display: block;
	margin: 20px 0;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

#result {
	margin-top: 20px;
	font-weight: bold;
	text-align: center;
}

#timer {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	color: #4CAF50;
}

